{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    {% if error %}
        <div id="alert">
            <div>
                {{ error }}
            </div>
            <div>
                <button onclick="document.getElementById('alert').style.display='none'">X</button>
            </div>
        </div>
    {% endif %}
    <h1>Create New Page</h1>

    <form action="{% url 'new' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <p style="text-align:end;">
            <button type="submit" class="btn btn-primary">Add</button>
        </p>
    </form>

{% endblock %}